# General
NODE_ENV=development
PORT=3000

# Database URLs (Local Dev via Docker)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME[?schema=SCHEMA]
AUTH_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lerno_auth?schema=public"
USER_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/lerno_user?schema=public"
TUTOR_DATABASE_URL="postgresql://postgres:postgres@localhost:5434/lerno_tutor?schema=public"
BOOKING_DATABASE_URL="postgresql://postgres:postgres@localhost:5435/lerno_booking?schema=public"
PAYMENT_DATABASE_URL="postgresql://postgres:postgres@localhost:5436/lerno_payment?schema=public"
NOTIF_DATABASE_URL="postgresql://postgres:postgres@localhost:5437/lerno_notif?schema=public"
REVIEW_DATABASE_URL="postgresql://postgres:postgres@localhost:5438/lerno_review?schema=public"
MESSAGE_DATABASE_URL="postgresql://postgres:postgres@localhost:5439/lerno_message?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# JWT
JWT_SECRET="superserioussecret123"
JWT_EXPIRES_IN="1d"
